/* .header-text {
    font-size: 30px;
    font-family: lovelo;
    color: #fff;
}

.header {
    background: linear-gradient(-45deg, #23A6D5, #23D5AB);
} */
body{
  font-family: "Montserrat";
  font-weight: bold;
  background-color: #e7d9ea;
}

.doctor-title{
  background-color: #16c79a;
  color: #14274e;
  font-family: "Ubuntu";
  font-size: 2.5rem;
  padding: 0.5% 10%;
  text-align: center;
}

.form-background{
  background-color: #e7d9ea;
  padding: 2% 2%;
}

.btn-fetch{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1rem;
}

.btn-submit{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1rem;
}

.btn-update{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1rem;
}

@media (max-width:1000px) {
  .btn-submit{
    margin-left: 70%;
  }
}
